/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*  * (asterisk) is a wildcard, which applies to all elements in our page.
that means it should come first so we can override it when we need later.
most generic rules comes first*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border-box will set the entire element (borders too) to the height/width that will be set later*/
}

body {
    min-height: 100vh;
    /* min-height will allow it to stretch larger than the height of the screen if theres enough content*/
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}
/* for headings that we dont wanna show but are important for search engines */
.hidden-heading {
    display: none;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    /* padding (left/right) to prevent text from sticking to the side of the screen */
    position: fixed;
    /* nav bar to scroll along */
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* checkbox has a pseudo-class for when it is checked (:checked) */
/* when we check the checkbox, we want the sibling nav element (one that comes after the checkbox input)to display,
we use ~to target the adjoining nav element */
#nav-toggle:checked~nav {
    display: block;
} 

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar with dropdown toggle 
absolute positioning makes it relative to the nearest positioned anscestor (header)*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* display:none will hide the elements until the user clicks on them */
    top: 100%;
    /* this indicates that it will start after the parent, if 0, will cover the parent (header) */
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /* this flex conf will take up any surplus space to push footer down (grow shrink basis)*/
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background-color: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    width: 100%;
    height: 25px;
    padding: 0 5px;
    margin: 5px 0 20px 0;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.join-button {
    border-radius: 2px;
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
    margin-top: 20px;
    padding: 15px 32px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(216, 57, 57, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* gallery */
#photos img {
    width: 100%;
    line-height: 1em;
}

/* photos are inline elements (treated like text) 
and text has an automatic line height
that causes images to have a white line between them */
#photos {
    line-height: 0;
}

/* icons are treated as font */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}


#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
    
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover {
    background: url("../images/reasons-image.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#times {
    background: url("../images/liljeholmen.webp") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    /* flex-basis set the minimum size of the element, so in this case
    they wont wrap in screens less than 400px, instead they will grow */
    flex-basis: 200px;
    flex-grow: 1;
    /* create a grid of meetups divs */
    border: 2px solid #fafafa;
}

#times h3 {
    color: #fafafa;
}
/* large or landscape phones */
@media screen and (min-width:576px) {
    #photos {
        column-count: 2;
        /* how many column the browser should use */
        column-gap: 0;
    }
}

/* media queries: tablet and larger screens (+768px) */
@media screen and (min-width:768px){
    /* header/ changes to the nav that are set to be in a way to fit phones */
    nav {
        display: block;
        position: relative;
        /* relative for it to be inside the header again */
        box-shadow: none;
        width: fit-content;
        padding-right:  1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
        /* push main content down */
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }
    
    #benefits-physical, 
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div, 
     #benefits-mental > div {
        width: 75%;
    }
    
    #benefits-mental > div {
        align-self: flex-end;
        text-align: end;
    }

    #photos {
        column-count: 3;
    }

    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        position: absolute;
        top: 150px;
        left: 10%;
        max-width: 400px;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }


}

@media screen and (min-width:992px) {
    
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #photos {
        column-count: 4;
    }
}

@media screen and (min-width:1200px) {
    
    #benefits {
        display: flex;
    }

    #benefits > div {
        flex: 1;
    }

    #benefits-mental {
        order: 1;
    }
    
    #benefits-mental > div{
        align-self: flex-start;
    }

    #benefits-physical > div{
        align-self: flex-end;
    }
}


