/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*  * (asterisk) is a wildcard, which applies to all elements in our page.
that means it should come first so we can override it when we need later.
most generic rules comes first*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border-box will set the entire element (borders too) to the height/width that will be set later*/
}

body {
    min-height: 100vh;
    /* min-height will allow it to stretch larger than the height of the screen if theres enough content*/
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}


header {
    background-color: #ffffff;
    padding: 0 1rem;
    /* padding (left/right) to prevent text from sticking to the side of the screen */
    position: fixed;
    /* nav bar to scroll along */
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* checkbox has a pseudo-class for when it is checked (:checked) */
/* when we check the checkbox, we want the sibling nav element (one that comes after the checkbox input)to display,
we use ~to target the adjoining nav element */
#nav-toggle:checked~nav {
    display: block;
} 

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar with dropdown toggle 
absolute positioning makes it relative to the nearest positioned anscestor (header)*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* display:none will hide the elements until the user clicks on them */
    top: 100%;
    /* this indicates that it will start after the parent, if 0, will cover the parent (header) */
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /* this flex conf will take up any surplus space to push footer down (grow shrink basis)*/
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}


#cover-text {
    background-color: rgba(216, 57, 57, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}
/* icons are treated as font */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}


#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    
}

#benefits p {
    padding: 0 20px;
    margin-bottom: 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}



/* media queries: tablet and larger screens (+768px) */
@media screen and (min-width:768px){
    /* header/ changes to the nav that are set to be in a way to fit phones */
    nav {
        display: block;
        position: relative;
        /* relative for it to be inside the header again */
        box-shadow: none;
        width: fit-content;
        padding-right:  1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
        /* push main content down */
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }
}

@media screen and (min-width:992px) {
    
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}


